Options +FollowSymLinks

<IfModule mod_rewrite.c>
    RewriteEngine on
    RewriteCond %{REQUEST_URI} !^(.*)phpMyAdmin(.*)$
    RewriteRule    ^$    webroot/    [L]
    RewriteCond %{REQUEST_URI} !^(.*)phpMyAdmin(.*)$
    RewriteRule    (.*) webroot/$1    [L]
</IfModule>