Options +FollowSymLinks

<IfModule mod_rewrite.c>
   RewriteEngine on
   RewriteCond %{REQUEST_URI} !^(.*)phpMyAdmin(.*)$
   RewriteRule    ^$ app/webroot/    [L]

   RewriteCond %{REQUEST_URI} !^(.*)phpMyAdmin(.*)$
   RewriteRule    (.*) app/webroot/$1 [L]
</IfModule>